@page "/Productos"

Hola?

<button type="button" class="btn btn-primary color-black" data-bs-toggle="modal" data-bs-target="#quickViewModal">
	Abrir modal
</button>



<Productos_CategoriasDestacadas Categorias="@Domain.PrototipoContenido.GetCategoriasDestacadas()" />

<Productos_Grid ProductosPopulares="@Domain.PrototipoContenido.GetProductosForGrid()" />

<ProductoModal Product="@Domain.PrototipoContenido.GetProductoModal()" />
