@page "/"
<PageTitle>Crisnamart - 2026</PageTitle>


@code {
	private List<Domain.PromocionModel> promos = new(){
		new()   {
			Titulo = "Merca y Falopa",
			Descuento = 30,
			ImagenUrl = "images/banner/grocery-banner.png",
			Link = "#!",
			TextoBoton = "Encargar ahora!"
		},
		new()
		{
			Titulo = "Faso",
			Descuento = 25,
			ImagenUrl = "images/banner/grocery-banner-2.jpg",
			Link = "#!",
			TextoBoton = "Hace tu pedido ya!"
		}
	};


	private List<Domain.SlidePromocionalModel> slides = new(){
		new()
		{
			ImagenUrl = "images/slider/slide-1.jpg",
			Subtitulo = "Opening Sale Discount 50%",
			TituloHtml = "SuperMarket<br/>For Fresh Grocery",
			Descripcion = "Introduced a new model for online grocery shopping and convenient home delivery.",
			TextoBoton = "Shop Now",
			Link = "#!"
		},
		new()
		{
			ImagenUrl = "images/slider/slider-2.jpg",
			Subtitulo = "Free Shipping - orders over $100",
			TituloHtml = "Free Shipping on<br/>orders over <span class='text-green-600'>$100</span>",
			Descripcion = "Free Shipping to First-Time Customers Only, after promotions and discounts are applied.",
			TextoBoton = "Shop Now",
			Link = "#!"
		}
	};


	private List<Domain.CategoriaDestacadaModel> categorias = new()
	{
		new() { Nombre = "Dairy, Bread & Eggs", ImagenUrl = "images/category/category-dairy-bread-eggs.jpg", Link = "#!" },
		new() { Nombre = "Snack & Munchies", ImagenUrl = "images/category/category-snack-munchies.jpg", Link = "#!" },
		new() { Nombre = "Bakery & Biscuits", ImagenUrl = "images/category/category-bakery-biscuits.jpg", Link = "#!" },
		new() { Nombre = "Instant Food", ImagenUrl = "images/category/category-instant-food.jpg", Link = "#!" },
		new() { Nombre = "Tea, Coffee & Drinks", ImagenUrl = "images/category/category-tea-coffee-drinks.jpg", Link = "#!" },
		new() { Nombre = "Atta, Rice & Dal", ImagenUrl = "images/category/category-atta-rice-dal.jpg", Link = "#!" },
		new() { Nombre = "Baby Care", ImagenUrl = "images/category/category-baby-care.jpg", Link = "#!" },
		new() { Nombre = "Chicken, Meat & Fish", ImagenUrl = "images/category/category-chicken-meat-fish.jpg", Link = "#!" },
		new() { Nombre = "Cleaning Essentials", ImagenUrl = "images/category/category-cleaning-essentials.jpg", Link = "#!" },
		new() { Nombre = "Pet Care", ImagenUrl = "images/category/category-pet-care.jpg", Link = "#!" },
	};


}



<HomeCategoriasDestacados Titulo="Featured Categories" Categorias="@categorias" />

<HomeSliderPromocional Slides="@slides" />
<HomePromocion Promociones="@promos" />
<HomeProductosPopulares />
<HomeDailyBestSells />
<HomePropuestaDeValor />
<HomeModalProduct />

